/* Start Main-Container */
.main-container .slider {
    width: 100%;
    height: 400px;
}

.main-container main .inner-container h2 {
    color: #606A78;
    font-weight: 500;
    font-size: 20pt;
    margin-bottom: 20x
}

.main-container main .inner-container p {
    font-size: 14pt;
    line-height: 1.7
}
/* End Main-Container */